.container{
   /* border:2px solid red;*/
    height: 700px;
    margin: 80px;
    padding-left: 50px;
    
}
.container-1{
    display: inline-block;
    width:300px;
   /* height:600px;*/
   /* border: 2px solid orange;*/
}
.container-2{
    display: inline-block;
    width:300px;
   /* height:600px;*/
   /* border: 2px solid orange;*/
}
.container-3{
    display: inline-block;
    width:300px;
   /* height:600px;*/
   /* border: 2px solid orange;*/
}
.container-4{
    display: inline-block;
    width:300px;
   /* height:600px;*/
    /*border: 2px solid orange;*/
}
img{
    width: 100%;
    
}